html {
    font-weight: 500;
    font-size: 28px;
}
.block {

    padding: 10px;
    margin-bottom: 10px;
}
.block:last-child {
    margin-bottom: 0px;
}



.block:nth-child(odd) {
    width: 75%;
    height: 150px;
    /*margin-bottom: -10px;*/
}

.block:nth-child(even) {
    width: 50%;
    height: 150px;
    /*margin-bottom: -10px;*/

}

.block1 {
    background-color: #55B3B9;
    color: #222222;
}

.block2 {
    background-color: #C56060;
    color: #222222B0;
}
.block3 {
    background-color: #8FC091;
    text-align: center;
    color: #2222229E;
}
.block4 {
    background-color: #8F86AF;
    color: #2E2E2E6B;
}
/*h1 {*/
    /*  font-size: 56px;*/
/*}*/


.block2 h3, .block3 h3, .block4 h3 {
    font-family: 'Sail', cursive;



}

h1, h2, h3 {
    margin: 0px;
    transition: 0.5s;
}
.block3 h3 {
    /*font-size: 16px;*/
    /*font-weight: 400;*/
    text-decoration: underline;
}

.block4 h2 {
    /*font-size: 42px;*/
    /*font-weight: 800;*/
    text-decoration: line-through;
}
.block4 h3 {
    /*font-size: 28px;*/
    /*font-weight: 400;*/
    text-decoration: line-through;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em ;


}
h3 {
    font-size: 1em;
}
.block3 h2 {
    font-size: 1.166em;
}
.block3 h3{
    font-size: 1.75em;
}
.block:hover {

    font-size: 2rem;
}